*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    padding: 10px;
}

.wrapper{
    margin: 100px auto;
    max-width: 1100px;
}




.titles{
    display: flex;
    padding: 10px 25px;
    font-size: 25px;
   font-weight: 600;
   
}

nav .nav-titles{
     display: flex;
     justify-content: center;
     
}


nav .titles{ 
    border: 2px solid rgb(0, 255, 255);
    border-radius: 24px;
    justify-content: space-between;
    margin: 5px;
    color: rgb(11, 126, 126);
    cursor: pointer;
    transition: all 0.3s ease;
}

nav .nav-titles .active,

nav .titles:hover{
    color: rgb(11, 12, 14);
    background-color: rgb(0, 255, 255);

}

.gallery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px ;

}
.gallery .images{
    width: calc(100% / 4);
    padding: 7px;
   
    
}

.gallery .images span{
    display: flex;
    width: 100%;
  overflow: hidden;
}

.gallery .images img{
   object-fit: cover;
    width: 100%;
    height: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}

.gallery .images:hover img{
    transform: scale(1.1);
}

.gallery .images.hide{
    display: none;
}

.gallery .images.show{
   animation: animate 0.4s ease;
}


.preview-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    max-width: 700px;
    width: 100%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  }
  .preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
  }
  .preview-box .details{
    padding: 13px 15px 13px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .details .title{
    display: flex;
    font-size: 18px;
    font-weight: 400;
  }
  .details .title p{
    font-weight: 500;
    margin-left: 5px;
  }
  .details .icon{
    color: #007bff;
    font-style: 22px;
    cursor: pointer;
  }
  .preview-box .image-box{
    width: 100%;
    display: flex;
  }
  .image-box img{
    width: 100%;
    border-radius: 0 0 3px 3px;
  }
  .shadow{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.4);
  }
  .shadow.show{
    display: block;
  }
  

@keyframes animate {
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

@media (max-width: 1000px) {
    .gallery .images{
        width: calc(100% / 3);
    }
}

@media (max-width: 800px) {
    .gallery .images{
        width: calc(100% / 2);
    }
}

@media (max-width: 800px){
    .wrapper nav .nav-titles{
        max-width: 600px;
    }

    nav .nav-titles span {
        padding: 7px 15px;
    }
}

@media (max-width: 800px){
    .wrapper{
        margin: 30px auto;
    }

    .wrapper nav .nav-titles{
        flex-wrap: wrap;
        justify-content: center;
    }

    nav .nav-titles span {
        margin: 5px;
    }

    .gallery .images{
        width: 100%;
    }
}

