 *{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg , #2f00ff , #00ffff);
    padding: 10px;
}

.todo-name{
    width: 100%;
    max-width: 540px ;
    background: #ffffff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-name h2{
    font-size: 30px;
    color: black;
    display: flex;
    align-items: center; 
 }

.todo-name h2 img{
    width: 30px;
    margin-left: 6px;
    
}

.input-box{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    background: #afaaaa;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    margin-top: 20px;
}

input{
    flex: auto;
    border: none;
    outline: none;
    background: transparent ;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #8042d1;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.todo-list{
   color: black;
   font-size: 30px;
   margin-top: 10px;

}

.todo-list p{
    margin: 10px 0px ;
}

.todo-list p:hover{
    cursor: pointer;
    color: #2f00ff;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image: url(unchecked.png);
    background-size:cover ;
    background-position: center;
    top: 12px;
    left: 8px;   
}

ul li.checked{
    color: #454;
    text-decoration: line-through ;
}

ul li.checked::before{
    background-image: url(checked.png);
    
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: red;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    background: rgb(0, 0, 0);
    border-radius: 20px;
}